<div id="panelBuscar" class="panel panel-primary">
    <div class="panel-heading centrado">Buscar Menus</div>
    <div class="panel-body">
        <form id="formBuscar">
            <input type="hidden" id="bpagina" name="bpagina" value="1" />
            <div class="row">
                <div class="col-md-1">
                    <span>Nombre</span>
                </div>
                <div class="col-md-9">
                    <input id="bnombre_menu" name="bnombre_menu" type="text" class="form-control input-sm" placeholder="Nombre">
                </div>
                <div class="col-md-2">
                    <button id="botonBuscar" type="button" class="btn btn-primary btn-sm">Buscar</button>
                </div>
            </div>
        </form>
        <br>
        <div id="resultado">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody id="contenidoBusqueda">
                </tbody>
            </table>
            <nav>
                <ul class="pager">
                    <li id="anterior"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
                    <li id="siguiente"><a href="#">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="panel-footer centrado">
        <button id="botonSalirBuscar" type="button" class="btn btn-primary btn-sm">Salir</button>
    </div>
</div>

<script>
    buscarNombreMenu();
    $("#bnombre_menu").focus();
    siguienteCampo("#bnombre_menu", "#botonBuscar", false);
    $("#botonBuscar").on("click", function() {
        $("#contenidoBusqueda").html("");
        $("#bpagina").val("1"); 
        buscarNombreMenu();
        $("#bnombre_menu").focus();
    });
    $("#anterior").on("click", function() {
        $("#contenidoBusqueda").html("");
        var pag = parseInt($("#bpagina").val());
        if (pag > 1) {
            $("#bpagina").val(pag - 1);
        }
        buscarNombreMenu();
    });
    $("#siguiente").on("click", function() {
        $("#contenidoBusqueda").html("");
        var pag = parseInt($("#bpagina").val());
        $("#bpagina").val(pag + 1);
        buscarNombreMenu();
    });

    $("#botonSalirBuscar").on('click', function () {
        $("#buscar").fadeOut("slow");
        $("#panelPrograma").fadeIn("slow");
    }); 
</script>

